<div class="col-6">

	<ul class="list-group mb-5">
		{{#each tasks}}
		{{#unless devoured}}
		<form action="api/burger/{{this.id}}" method="POST">
			<div class="input-group mb-3">
				<li class="form-control" >{{this.id}}. {{this.burger_name}}</li>
				<span class="input-group-btn">
					<button class="btn btn-warning" type="submit">Devour It!</button>
				</span>
			</div>
		</form>
		{{/unless}}
		{{/each}}
	</ul>
</div>
<div class="col-6">
	{{#each tasks}}
	{{#if devoured}}
	<div class="input-group mb-3">
		<li class="form-control">{{this.id}}. {{this.burger_name}}</li>
	</div>
	{{/if}}
	{{/each}}
</div>
